{% extends 'publications/base.html' %}

{% block content %}
    <h2>Creator list</h2>
    <table id="creators" class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Given Name</th>
            <th>Family Name</th>
            <th>Identifier</th>
            <th>Affiliation</th>
        </tr>
        </thead>
        <tbody>
        {% for creator in creators %}
            <tr>
                <td><a href="{% url 'creator_detail' pk=publication.pk %}">{{ creator.name }}</a></td>
                <td>{{ creator.given_name }}</td>
                <td>{{ creator.family_name }}</td>
                <td>{% for name_identifier in creator.main_name_identifiers %}{{ name_identifier.identifier }}
                    {% if not forloop.last %},
                    {% endif %}{% endfor %}</td>
                <td>{% for affiliation in creator.main_affiliations %}{{ affiliation.name }}{% if not forloop.last %},
                {% endif %}{% endfor %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

<script>
    $(document).ready(function () {
        $('#creators').DataTable({
            "pageLength": 50,
            "order": [[1, "asc"]]
        });
    });
</script>
</body>
</html>