{% extends 'publications/base.html' %}

{% block content %}
    <h2>Publication list</h2>
    <table id="species" class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Creators</th>
            <th>Publication Year</th>
            <th>Resource Type</th>
            <th>Identifier</th>
            <th>Version</th>
        </tr>
        </thead>
        <tbody>
        {% for publication in publications %}
            <tr>
                <td><a href="{% url 'publication_detail' pk=publication.pk %}">{{ publication.main_title }}</a></td>
                <td>{% for creator in publication.main_creators %}{{ creator.name }}{% if not forloop.last %},
                {% endif %}{% endfor %}</td>
                <td>{{ publication.publication_year }}</td>
                <td>{{ publication.resource_type }}</td>
                <td>{{ publication.identifier }}</td>
                <td>{{ publication.version }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary btn" href="{% url 'publication_new' %}">Add new publication</a>

{% endblock %}

<script>
    $(document).ready(function () {
        $('#species').DataTable({
            "pageLength": 50,
            "order": [[1, "asc"]]
        });
    });
</script>
</body>
</html>