<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
    <title>Publications</title>
</head>
<body>
{% for publication in publications %}
    <div>
        <h3><a href="">{{ publication.identifier }}</a></h3>
        <p>Published on: {{ publication.publication_year }}</p>
        <p>Version: {{ publication.version }}</p>
    </div>
{% endfor %}
</body>
</html>